body {
  background-image: none;
  font-family: Arial, Helvetica, sans-serif;
}

.aanbod-container {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.aanbod-section {
  margin-top: 200px;
}

.aanbod-item {
  display: flex;
  align-items: flex-start;
  background-color: rgb(241, 239, 239);
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 2px 2px 3px rgb(200, 200, 200);
}

.aanbod-item img {
  width: 150px;
  margin-right: 10px;
  border-radius: 5px;
}

.aanbod-item-text {
  flex: 1;
}

.aanbod-item-text h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.aanbod-item-text p {
  margin: 0;
  
}

@media (max-width: 768px) {
  .aanbod-item {
    flex-direction: column;
  }

  .aanbod-item img {
    width: 100%; /* Adjust the image width to fit the container width */
    margin-right: 0;
    margin-bottom: 10px;
    align-self: center;
  }
  .navbar,
  .subnav {
    display: none;
  }

  /* Adjust the hamburger menu to the right side */
  .navigation-container {
    display: flex;
    justify-content: flex-end; /* Move the hamburger menu to the right */
    align-items: center; /* Vertically center the menu */
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    /* Rotate the first and third line elements to create the cross icon */
    transform-origin: center; /* Set the rotation origin to the center */
    transition: transform 0.3s;
  }

  /* Rotate the first and third line elements to create the cross icon */
  .hamburger-menu.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .navbar.active,
  .subnav.active {
    display: block;
  }
  .hamburger-menu.active .header-container img {
    width: 150px; /* Set the desired logo width for the hamburger menu */
  }}






