/* CSS styles for the body and background image */
body {
  background-image: url("Images/dak_regen.jpg");
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-size: 100%;
}

h1 {
  font-family: 'Rowdies', cursive;
}

/* CSS styles for the wrapper div */
#wrapper {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  max-width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid grey;
}

/* CSS styles for the containers */
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.header-container,
.navigation-container {
  flex-basis: 50%;
  margin-top: 20px;
  margin-left: 10px;
}

.header-container img {
  max-width: 50%;
  height: auto;
  margin: 0;
}

/* CSS styles for the navigation bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

ul.navbar li {
  display: inline-block;
  margin-left: 10px;
}

ul.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  position: relative;
}

ul.navbar li a::after,
ul.subnav li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: orange;
  position: absolute;
  left: 10px; /* Adjusted right positioning */
  transition: width 0.3s;
  visibility: hidden;
}

ul.navbar li a:hover::after,
ul.subnav li a:hover::after {
  width: 80%;
  visibility: visible;
}

/* CSS styles for the sub-navigation bar */
ul.subnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  text-align: right;
}

ul.subnav li {
  display: inline-block;
  margin-left: 10px;
}

ul.subnav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  position: relative;
}

.content-section {
  background-color: #fff;
  display: flex;
  flex-direction: column; /* Add flex-direction property */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  padding-left: 0; /* Remove left padding */
  padding-right: 0; /* Remove right padding */
  overflow-x: hidden; /* Add overflow property to prevent horizontal scrolling */
}

.content-section h1,.content-section a {
  text-decoration: none;
  text-align: center;
}

.meer-link{
  color: orange;
  margin-top: 15px;
  font-size: 24px;
}

.gallery {
  --g: 6px;
  display: grid;
  width: 650px;
  aspect-ratio: 1;
  grid: auto-flow 1fr / repeat(3, 1fr);
  gap: var(--g);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.5s;
  z-index: 0;
}

.gallery img:hover {
  filter: grayscale(0);
  z-index: -1;
}

.gallery .image-container:nth-child(2) {
  grid-area: 1 / 2 / span 2 / span 2;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(50% + var(--g) / 4) 100%,
    0 calc(50% - var(--g) / 4)
  );
}

.gallery .image-container:nth-child(3) {
  grid-area: 2 / 1 / span 2 / span 2;
  clip-path: polygon(
    0 0,
    calc(50% - var(--g) / 4) 0,
    100% calc(50% + var(--g) / 4),
    100% 100%,
    0 100%
  );
}

.image-container {
  position: relative;
  z-index: 1;
}


.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.image-container:hover img{
box-shadow: 3px 3px 4px black;
}

.image-container:hover .image-text {
  opacity: 1;
}

.image-text h2 {
  color: white;
  font-size: 24px;
  text-align: center;
}

.intro-section {
  background-color: rgba(131, 131, 131, 0.6);
  width: 50%;
  margin: 210px auto 0;
  padding: 20px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  text-align: center;
}

.intro-container {
  color: #fff;
  text-align: center;
}

strong {

text-decoration: underline;
text-decoration-color: orange;
text-decoration-thickness: 2px;
}





/* CSS styles for mobile */
@media (max-width: 768px) {
  /* Update styles for the wrapper div */
  #wrapper {
    padding: 10px 20px;
  }

  /* Update styles for the containers */
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Update styles for the gallery */
  .gallery {
    width: 80%;
  }
  
  .intro-section {
    width: 80%;
    margin: 200px auto 0;
    padding: 20px;
  }

  .content-section{
    margin-top: 10px;
  }
  .navigation-container {
    display: flex;
    justify-content: flex-end; /* Move the hamburger menu to the right */
    align-items: center; /* Vertically center the menu */
  }
  
  .navbar,
  .subnav {
    display: none;
  }

  /* Adjust the hamburger menu to the right side */
  .navigation-container {
    display: flex;
    justify-content: flex-end; /* Move the hamburger menu to the right */
    align-items: center; /* Vertically center the menu */
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    /* Rotate the first and third line elements to create the cross icon */
    transform-origin: center; /* Set the rotation origin to the center */
    transition: transform 0.3s;
  }

  /* Rotate the first and third line elements to create the cross icon */
  .hamburger-menu.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .navbar.active,
  .subnav.active {
    display: block;
  }
  .hamburger-menu.active .header-container img {
    width: 150px; /* Set the desired logo width for the hamburger menu */
  }
}

footer{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* CSS styles for mobile */
@media (max-width: 480px) {
  /* Update styles for the wrapper div */
  #wrapper {
    padding: 10px;
  }

  .content-section{
    margin-top: 10px;
  }

  /* Update styles for the containers */
  .container {
    grid-template-columns: 1fr;
  }

  /* Update styles for the header image */
  .header-container img {
  width: 60%;

  }

  /* Update styles for the navigation bar */
  ul.navbar {
    display: none; /* Hide the navbar by default */
  }

  .navigation-container {
    flex-basis: 100%;
  }
    /* Update styles for the gallery */
    .gallery {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
    }
  }






