/* CSS styles for the body and background image */
body {
  background-image: url("Images/dak_regen.jpg");
  background-repeat: no-repeat;
  background-position: absolute;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-size: 100%;
}


h1 {
  font-family: 'Rowdies', cursive;
  font-size: 32px;
}

footer {
  text-align: center;
}

/* CSS styles for the wrapper div */
#wrapper {
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  max-width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid grey;
}

/* CSS styles for the containers */
.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.header-container,
.navigation-container {
  flex-basis: 50%;
  margin-top: 20px;
  margin-left: 10px;
}

.header-container img {
  max-width: 50%;
  height: auto;
  margin: 0;
}

/* CSS styles for the navigation bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

ul.navbar li {
  display: inline-block;
  margin-left: 10px;
}

ul.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  position: relative;
}

ul.navbar li a::after,
ul.subnav li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: orange;
  position: absolute;
  left: 10px; /* Adjusted right positioning */
  transition: width 0.3s;
  visibility: hidden;
}

ul.navbar li a:hover::after,
ul.subnav li a:hover::after {
  width: 80%;
  visibility: visible;
}

/* CSS styles for the sub-navigation bar */
ul.subnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  text-align: right;
}

ul.subnav li {
  display: inline-block;
  margin-left: 10px;
}

ul.subnav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  position: relative;
}

.content-section {
  background-color: #fff;
  display: flex;
  flex-direction: column; /* Add flex-direction property */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  padding-left: 0; /* Remove left padding */
  padding-right: 0; /* Remove right padding */
  overflow-x: hidden; /* Add overflow property to prevent horizontal scrolling */
}

.content-section h1, .content-section a {
  text-decoration: none;
  text-align: center;
  font-size: 26px;
}

.meer-link {
  color: orange;
  margin-top: 15px;
  font-size: 24px;
}

.gallery {
  --g: 6px;
  display: grid;
  width: 650px;
  aspect-ratio: 1;
  grid: auto-flow 1fr / repeat(3, 1fr);
  gap: var(--g);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.5s;
  z-index: 0;
}

.gallery img:hover {
  filter: grayscale(0);
  z-index: -1;
}

.gallery .image-container:nth-child(2) {
  grid-area: 1 / 2 / span 2 / span 2;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(50% + var(--g) / 4) 100%,
    0 calc(50% - var(--g) / 4)
  );
}

.gallery .image-container:nth-child(3) {
  grid-area: 2 / 1 / span 2 / span 2;
  clip-path: polygon(
    0 0,
    calc(50% - var(--g) / 4) 0,
    100% calc(50% + var(--g) / 4),
    100% 100%,
    0 100%
  );
}

.image-container {
  position: relative;
  z-index: 1;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.image-container:hover img {
  box-shadow: 3px 3px 4px black;
}

.image-container:hover .image-text {
  opacity: 1;
}

.image-text h2 {
  color: white;
  font-size: 24px;
  text-align: center;
}

.intro-section {
  background-color: rgba(131, 131, 131, 0.6);
  width: 50%;
  margin: 210px auto 0;
  padding: 20px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  text-align: center;
}

.intro-container {
  color: #fff;
  text-align: center;
}

strong {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 2px;
}

/* Rest of your existing CSS styles... */

/* CSS styles for mobile */
@media (max-width: 480px) {
  /* Update styles for the wrapper div */
  #wrapper {
    flex-direction: column; /* Change flex-direction to stack elements vertically */
    max-height: 100vh; /* Set maximum height for the wrapper to full viewport height */
    overflow: hidden;
  }

  body{
    background-position: 0;
  }

  p {
    font-size: 10px;
  }

  a {
    font-size: 20px;
  }

  /* Update styles for the header-container */
  .header-container {
    display: flex; /* Use flexbox to center the logo and navbar horizontally */
    justify-content: space-between; /* Align items with space between (logo at left and navbar at right) */
    align-items: center; /* Center vertically */
    padding: 20px;
    margin: 0;
  }

  /* Update styles for the navigation-container */
  .navigation-container {
    flex-basis: 50%; /* Adjust flex basis to 50% */
    padding: 10px;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
  }

  /* Update styles for the logo image */
  .header-container img {
    max-width: 20%; /* Set a maximum width for the logo */
    height: auto; /* Maintain aspect ratio */
  }

  /* Update styles for the navigation bar */
  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; /* Align the navigation links to the right */
  }

  ul.navbar li {
    display: inline-block;
    margin-left: 10px;
  }

  ul.navbar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    position: relative;
  }

  ul.navbar li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: orange;
    position: absolute;
    left: 10px;
    /* Adjusted right positioning */
    transition: width 0.3s;
    visibility: hidden;
  }

  ul.navbar li a:hover::after {
    width: 80%;
    visibility: visible;
  }

  /* Update styles for the sub-navigation bar */
  ul.subnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: center; /* Center the sub-navigation links */
    margin: 10px auto; /* Add some margin for spacing */
  }

  ul.subnav li {
    display: inline-block;
    margin-left: 10px;
  }

  ul.subnav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    position: relative;
  }

  /* Update styles for the containers */
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Update styles for the gallery */
  .gallery {
    width: 80%;
  }

  .intro-section {
    width: 80%;
    margin: 250px auto 0;
    padding: 10px;
  }

  .content-section {
    margin-top: 10px;
    height: 40vh;
  }

  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: none; /* Remove the grayscale effect */
    cursor: pointer;
    transition: 0.5s;
    z-index: 0;
  }

  .gallery img:hover {
    filter: none; /* Remove the hover grayscale effect */
    z-index: 0; /* Change this to 0 to ensure the image is not covered by the text */
  }

  .image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; /* Set opacity to 1 to make the text visible at all times */
    transition: opacity 0.3s;
    z-index: 2;
  }

  /* New styles for the subnav-container */
  .subnav-container {
    flex-basis: 100%;
    text-align: center;
    margin-top: 10px; /* Add some margin for spacing */
  }
}

